.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    margin-bottom: 16px;
}

.card-list__info {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
}