.card-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    height: 100%;
}

.card-list > h1 {
    margin-bottom: 8px;
}

.card-list__loading {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-list__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}